.icon-bar {
	//background-color: #555; /* Dark-grey background */
	overflow: auto; 
	.icon {
		float: left;
		text-align: center;
		width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
		transition: all 0.3s ease;
		color: black;
		font-size: 1em;
		&:hover {
			background-color: black;
			color: wheat;
		}
		&.active {
			background-color: #04aa6d;
		}
	}
}
