<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	<div class="container-fluid">
		<a class="navbar-brand col-3" [routerLink]="'.'">
			<img src="https://via.placeholder.com/119x50" alt="Logo" width="119" height="50">
		</a>
		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"> &#9776; </button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item" *ngFor="let navItem of navLinks">
					<!-- <a [routerLink]="navItem.path" class="nav-link" [ngClass]="{active: navItem.isActive}"(click)="isMenuCollapsed = true">{{navItem.name}}</a> -->
					<a [routerLink]="navItem.path" class="nav-link"
						[ngClass]="{active: navItem.isActive}">{{navItem.name}}</a>
				</li>
			</ul>
			<!-- <div class="d-flex user_info  justify-content-between align-items-center" style="width: 25vw;padding: 1em;">
				<ul class="d-flex m-0 w-50 ps-0 justify-content-evenly">
					<li>
						<button type="button" class="btn btn-primary position-relative">
							<fa-icon [icon]="heartIcon"></fa-icon> <span class="badge bg-secondary"></span>
							<span
								class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
								{{userData.num_whises}}
							</span>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-primary position-relative">
							<fa-icon [icon]="bagIcon"></fa-icon> <span class="badge bg-secondary"></span>
							<span
								class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
								{{userData.num_items_cart}}
							</span>
						</button>
				</ul>
				<div class="header__cart__price">item: <span>{{userData.total_cart|currency:'EUR'}}</span></div>
			</div> -->
		</div>
	</div>
</nav>
