<!-- <div class="pre_nav">
	<div class="left">
		<div class="pre_nav__mail">
			<fa-icon [icon]="mailIcon"></fa-icon><a href="mailto:mail@mail.com">mail@defaul.com</a>
		</div>
		<div class="pre_nav__slogan">
			<h1>Slogan Jaja</h1>
		</div>
	</div>
	<div class="rigth">
		<div class="pre_nav__social">
			<ul>
				<li *ngFor="let socialLink of socialLinks">
					<fa-icon class="pre_nav__social_item" [icon]="socialLink.icon"></fa-icon>
				</li>
			</ul>
		</div>
		<div class="pre_nav__language">
			<app-lenguage-form></app-lenguage-form>
		</div>
		<div class="pre_nav__user">
			<fa-icon [icon]="userIcon"></fa-icon><a href="">Login</a>
		</div>
	</div>
</div> -->

<!-- <nav class="nav">
	 {{logo}} --logo
	<ul class="nav__links">
		<li class="nav__links_item" *ngFor="let navLink of navLinks">
			<a [routerLink]="navLink.link">{{navLink.name|uppercase}}a</a>
			<a href="{{navLink.link}}">{{navLink.name|uppercase}}</a>
		</li>
	</ul>
	<ul class="nav__user_data">
		<li><a href="">
				<fa-icon [icon]="heartIcon"></fa-icon>{{userData.num_whises}}
			</a></li>
		<li><a href="">
				<fa-icon [icon]="bagIcon"></fa-icon>{{userData.num_items_cart}}
			</a></li>
		<li><a href="">total:{{userData.tota_cart|currency:'EUR'}}</a></li>
	</ul>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 3em; background-color: #f5f5f5 !important;">
	<div class="container-fluid">
		<div class="d-flex align-items-center justify-content-between col-5">
			<div class="d-flex" style="width: 40%;">
				<fa-icon [icon]="mailIcon"></fa-icon><a href="mailto:mail@mail.com">mail@defaul.com</a>
			</div>
			<div class="vr"></div>
			<div class="pre_nav__slogan">
				<h1>Slogan Jaja</h1>
			</div>
		</div>
		<div class="d-flex align-items-center justify-content-between col-5">
			<ul class="d-flex justify-content-around align-items-center" style="width: 35%;">
				<li *ngFor="let socialLink of socialLinks">
					<fa-icon class="pre_nav__social_item" [icon]="socialLink.icon"></fa-icon>
				</li>
			</ul>
			<div class="vr"></div>
			<div class="pre_nav__language" style="width: 30%;">
				<app-lenguage-form></app-lenguage-form>
			</div>
			<div class="vr"></div>
			<div class="d-flex justify-content-around">
				<a href="/userInfo/{{userData.user_name}}" *ngIf="userData.isLogged; else linkLoggin">
					<i class="fa fa-user"></i>
					{{userData.user_name}}</a>
				<ng-template #linkLoggin>
					<fa-icon [icon]="userIcon"></fa-icon><a href="/logIn">Login</a>
				</ng-template>
			</div>
		</div>
	</div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	<div class="container-fluid">
		<a class="navbar-brand col-3" [routerLink]="'.'">
			<img src="https://via.placeholder.com/119x50" alt="Logo" width="119" height="50">
		</a>
		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"> &#9776; </button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item" *ngFor="let navItem of navLinks">
					<a [routerLink]="navLink.link" class="nav-link" [ngClass]="{active: navItem.isActive}"
						(click)="isMenuCollapsed = true">{{navItem.name}}</a>
				</li>
			</ul>
			<div class="d-flex user_info  justify-content-between align-items-center" style="width: 25vw;padding: 1em;">
				<ul class="d-flex m-0 w-50 ps-0 justify-content-evenly">
					<li>
						<button type="button" class="btn btn-primary position-relative">
							<fa-icon [icon]="heartIcon"></fa-icon> <span class="badge bg-secondary"></span>
							<span
								class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
								{{userData.num_whises}}
							</span>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-primary position-relative">
							<fa-icon [icon]="bagIcon"></fa-icon> <span class="badge bg-secondary"></span>
							<span
								class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
								{{userData.num_items_cart}}
							</span>
						</button>
				</ul>
				<div class="header__cart__price">item: <span>{{userData.total_cart|currency:'EUR'}}</span></div>
			</div>
		</div>
	</div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light">
	<div class="row">
		<div class="col-4 position-absolute">
			<div class="card">
				<div class="card-body">
					<ngb-accordion #acc="ngbAccordion">
						<ngb-panel class="">
							<ng-template ngbPanelTitle class="">
								<fa-icon [icon]="burgerIcon"></fa-icon>All departaments
							</ng-template>
							<ng-template ngbPanelContent>
								<div class="" *ngFor="let category of categories">
									<a [href]="category.link.path">{{category.name|titlecase}}</a>
								</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>


				</div>
			</div>
		</div>
	</div>

	<div class="collapse navbar-collapse col-8" id="navbarSupportedContent">
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<div class="contact d-flex">
			<fa-icon [icon]="phoneIcon"></fa-icon>
			<div class="contact__data">
				<div>{{num_phone}}</div>
				<div>support 24/7 time</div>
			</div>
		</div>
	</div>
</nav>
 -->
