<div class="row">
	<div class="d-flex flex-column col-4" *ngFor="let list of lists">
		<header>
			<h3>{{list.title}}</h3>
			<ngb-pagination [(page)]="list.page" [pageSize]="5" [collectionSize]="10" size="sm"></ngb-pagination>
		</header>
		<div class="card" *ngFor="let item of list.items | slice: (list.page-1) * pageSize : list.page * pageSize">
			<div class="card-header">
			</div>
			<div class="card-body">
				<a [routerLink]="['/tienda/details', item.id]">{{item.name}}</a>

				<div class="list-item-price">
					{{item.price | currency: 'EUR'}}
				</div>
			</div>
			<img class="" src='https://source.unsplash.com/W1yjvf5idqA' alt="Card image cap" height="100px">
		</div>
	</div>
</div>