<style>


</style>
<div class="card p-3 text-center border-info" style="max-width: 540px">
	<div class="d-flex flex-row mb-3">
		<img [alt]="card.title" height="70" src="https://i.imgur.com/ccMhxvC.png" width="70">
		<div class="d-flex flex-column ml-2 justify-content-center">
			<h5>{{ card.title }}</h5>
			<div class="card-body">
				<h6 *ngIf="card.content as content">
					{{ (content.length > paragraph_length) ? (content | slice:0:paragraph_length) + ' ...' : (content) }}
				</h6>
			</div>
		</div>
	</div>


	<div class="d-flex justify-content-between install mt-3">
		<small class="text-muted">{{card.footer}}</small>
		<a (click)="handleClick($event)" class="btn btn-primary mb-3">{{card.btn_content}} <i
			class="fa fa-angle-right"></i></a>
	</div>

</div>
