<ng-container *ngIf="datos|async as datosSync">
	<ng-container *ngIf="datosSync[0]; else withoutData">
		<table class="table table-striped table-hover">
			<caption>{{title}}</caption>
			<thead>
			<tr>
				<th (sort)="onSort($event)" *ngFor="let titulo of titulos" [sortable]="titulo" scope="col"
					style="cursor: pointer;">{{titulo}}</th>
				<th scope="col">#</th>

			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let item of DATA_DEFAULT|async; index as i" class="col">
				<td *ngFor="let titulo of titulos">
					{{checkItemFormat(item[titulo])}}
					<!--<ngb-highlight [result]="checkItemFormat(item[titulo])" [term]="filter.value"></ngb-highlight>-->
				</td>
				<th scope="row">
					<fa-icon (click)="onEdit.emit(item['id'])" [icon]="iconPen"></fa-icon>
					<fa-icon (click)="onDelete.emit(item['id'])" [icon]="iconTrash"></fa-icon>
				</th>

			</tr>
			</tbody>
		</table>

		<div class="d-flex justify-content-between align-content-end p-2">
			<ng-container *ngIf="checkPaginator()">
				<ngb-pagination (pageChange)="refreshData()" [(page)]="page" [collectionSize]="collectionSize"
								[pageSize]="pageSize">
				</ngb-pagination>
			</ng-container>

			<select (ngModelChange)="refreshData()" *ngIf="paginationOptions.length>1" [(ngModel)]="pageSize"
					class="form-select flex-end"
					style="width: auto">
				<option *ngFor="let opt of paginationOptions" [ngValue]="opt">{{opt}} items per page</option>
			</select>
		</div>
		<button (click)="onAdd.emit()" class="btn btn-primary">Add</button>

	</ng-container>
</ng-container>
<ng-template #withoutData>
	<div class="alert alert-warning" role="alert">
		<button (click)="onAdd.emit()" class="btn btn-primary">Add</button>
		Table without {{title}} data
	</div>


</ng-template>
