<ng-container *ngIf="datos|async as datosSync">
	<ng-container *ngIf="datosSync[0]; else withoutData">
		<form>
			<div class="mb-3 row">
				<label class="col-xs-3 col-sm-auto col-form-label" for="table-filtering-search">Full text
					search:</label>
				<div class="col-xs-3 col-sm-auto">
					<input [formControl]="filter" class="form-control" id="table-filtering-search" type="text">
				</div>
			</div>
		</form>
		<table class="table table-striped">
			<caption>{{title}}</caption>
			<thead>
			<tr>
				<th scope="col">#</th>
				<th (sort)="onSort($event)" *ngFor="let titulo of titulos" [sortable]="titulo" scope="col"
				    style="cursor: pointer;">{{titulo}}</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let item of DATA_DEFAULT|async; index as i" class="col">
				<th scope="row">
					<fa-icon (click)="onEdit.emit(item['id'])" [icon]="iconPen"></fa-icon>
					<fa-icon (click)="onDelete.emit(item['id'])" [icon]="iconTrash"></fa-icon>
				</th>
				<td *ngFor="let titulo of titulos">
					<ngb-highlight [result]="checkItemFormat(item[titulo])" [term]="filter.value"></ngb-highlight>
				</td>
			</tr>
			</tbody>
		</table>

		<div class="d-flex justify-content-between p-2">
			<ng-container *ngIf="checkPaginator()">
				<ngb-pagination (pageChange)="refreshData()" [(page)]="page" [collectionSize]="collectionSize"
				                [pageSize]="pageSize">
				</ngb-pagination>
			</ng-container>
			<button (click)="onAdd.emit()" class="btn btn-primary">Add</button>

			<select (ngModelChange)="refreshData()" [(ngModel)]="pageSize" class="form-select" style="width: auto">
				<option *ngFor="let opt of paginationOptions" [ngValue]="opt">{{opt}} items per page</option>
			</select>
		</div>
	</ng-container>
</ng-container>
<ng-template #withoutData>
	<div class="alert alert-warning" role="alert">
		<button (click)="onAdd.emit()" class="btn btn-primary">Add</button>
		Table without {{title}} data
	</div>


</ng-template>
