.galery_item {
	cursor: pointer;
	float: left;
	background-color: #2196f3;
	color: #ffffff;
	width: 100px;
	line-height: 100px;
	text-align: center;
	margin: 2px;
	display: none; //Hidden by default
}

/* The "show" class is added to the filtered elements */
.show {
	display: block;
}

/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
	&:hover {
		background-color: #ddd;
	}
	&.active {
		background-color: #666;
		color: white;
	}
}

// experimento

/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font: 1em/1.5 "Open Sans", sans-serif;
	color: #373737;
	background: #eaeaea;
	margin: 0;
}
a {
	text-decoration: none;
}
h1,
h2,
h3 {
	text-transform: uppercase;
}
h2 {
	font-size: 1.125em;
	color: #4a89ca;
	font-weight: 600;
	margin: 0;
}
h3 {
	font-size: 1.3em;
	line-height: 1.25em;
	margin-top: 0.85em;
	margin-bottom: 0.5em;
}
p {
	font-size: 0.875em;
	line-height: 1.4;
	margin: 0 0 1.5em;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.content {
	margin: auto;
}

.cube-container {
	max-width: 200px;
	text-align: center;
	margin: 0 auto 4.5em;
}
/* ---- Page Elements ---- */

.button {
	font-size: 0.8em;
	color: #fff;
	width: 90%;
	line-height: 1.15;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.95em 0;
	border-radius: 0.5em;
	background: rgba(74, 137, 202, 0.8);
	margin: auto;
}
/* ---- Photo Overlay ---- */

.photo-desc {
	font-size: 0.85em;
	color: #fff;
	padding: 1.1em 1em 0;
	background: #345d88;
}
/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.cube-container {
		float: left;
		margin-left: 16.6%;
	}
}
@media (min-width: 1025px) {
	.cube-container {
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			float: right;
		}
	}
	.content {
		max-width: 900px;
		margin: auto;
	}
}

/* ================================= 
  Button Transitions
==================================== */

.button {
	transition: background 0.3s;
  &:hover{
	background: rgba(74, 137, 202, 1);

  }
}


/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */

.cube-container {
	box-shadow: 0 18px 40px 5px rgba(0, 0, 0, 0.4);
	perspective: 800px;
}

.photo-cube {
	transition: transform 2s ease-in-out;
	width: 220px;
	height: 200px;
	transform-style: preserve-3d;
  &:hover{
	transform: rotateY(-270deg);

  }
}


.front,
.back,
.left,
.right {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}

.front {
	transform: translate3d(0, 0, 110px);
}

.back {
	transform: translateZ(-110px) rotateY(270deg);
	transform-origin: center left;
}

.left {
	transform: rotateY(-270deg) translate3d(110px, 0, 0);
	transform-origin: top right;
}

.right {
	transform: translateZ(-110px) rotateY(180deg);
}
