<div id="controlsContainer mb-5">
	<button class="btn" (click)="filterSelection('all')" [ngClass]="{'active': activeCategory=='all'}"> All</button>
	<button class="btn" (click)="filterSelection(category)" *ngFor="let category of categories_names$|async"
		[ngClass]="{'active': activeCategory==category}"> {{category|titlecase}}</button>
</div>

<div class="container">
	<div class="content clearfix">
		<div class="cube-container galery_item  {{product.category}}" *ngFor="let product of products$ | async"
			(click)="show_product(product)">
			<div class="photo-cube">
				<img class="front" src="https://source.unsplash.com/W1yjvf5idqA" alt="">
				<div class="back photo-desc">
					<h3>{{product.name}}</h3>
					<p>{{product.description}}</p>
					<a href="#" class="button">Comprar</a>
				</div>
				<img class="left" src="https://source.unsplash.com/VgbUxvW3gS4" alt="">
				<img class="right" src="https://source.unsplash.com/5WbYFH0kf_8" alt="">
			</div>
		</div>
	</div>
</div>