<div class="row justify-content-between py-2 px-5 top-nav-store">
    <div class="col-5">
        <app-mail-info></app-mail-info>
    </div>
    <div class="col-4">
        <div class="row">
            <app-social-links class="col"></app-social-links>
            <app-top-nav-user></app-top-nav-user>
        </div>
    </div>
</div>
<nav class="d-flex justify-content-between">
    <div class="col-3">
        <img src="https://via.placeholder.com/200x90.png?text=JODERRR" alt="imgBrand">
    </div>
    <app-list-links [vertical]="true" class="col"></app-list-links>
    <app-cart-info class="col-2"></app-cart-info>
</nav>

<button class="btn btn-link btn-sm order-1 order-lg-0 d-lg-none" id="sidebarToggle" data-cy="topNavToggleSideNav"
    (click)="toggleSideNav()">
    <fa-icon [icon]='["fas", "bars"]'></fa-icon>
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</button>