.top-nav-store {
	background-color: #f5f5f5;
	display: flex;
	justify-content: space-between;
	/* span:after {
		position: absolute;
		right: -25px;
		top: 1px;
		height: 20px;
		width: 1px;
		background: #000000;
		opacity: 0.1;
		content: "";
	} */
}
.vr:before {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}
.left,
.right {
	border: 1px solid #e5e5e5;
}
.right {
	display: flex;
}

.icon-bar {
	width: 90px; /* Set a specific width */
	background-color: #555; /* Dark-grey background */
	.icon {
		display: block; /* Make the links appear below each other instead of side-by-side */
		text-align: center; /* Center-align text */
		padding: 16px; /* Add some padding */
		transition: all 0.3s ease; /* Add transition for hover effects */
		color: white; /* White text color */
		font-size: 36px; /* Increased font-size */
		&:hover {
			background-color: #000; /* Add a hover color */
		}
		&.active {
			background-color: #04aa6d; /* Add an active/current color */
		}
	}
}
