<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<div class="logo">
				<span class="logo-icon">
					<img alt="brand" src="https://assets.codepen.io/285131/almeria-logo.svg"/>
				</span>
				<!--	<h1 class="logo-title">
						<span>Almeria</span>
						<span>NeoBank</span>
					</h1>-->
			</div>
		</div>
		<div class="app-header-navigation">
			<div class="tabs">
				<a class="active">
					Overview
				</a>
				<a class="">
					Payments
				</a>
				<a>
					Cards
				</a>
				<a>
					Customers
				</a>

			</div>
		</div>
		<div class="app-header-actions">
			<!-- Todo: No lo renderiza en el sitio que deberia
			<ng-content [select]="user_profile"></ng-content>
			-->

			<button class="user-profile">
				<span>Matheo Peterson</span>
				<span>
					<img alt="user" src="https://assets.codepen.io/285131/almeria-avatar.jpeg"/>
				</span>
			</button>
			<button (click)="logout()">
				Logout
			</button>
			<div class="app-header-actions-buttons">
				<button class="icon-button large">
					<i class="ph-magnifying-glass"></i>
				</button>
				<button class="icon-button large">
					<i class="ph-bell"></i>
				</button>
			</div>
		</div>
		<div class="app-header-mobile">
			<button class="icon-button large">
				<i class="ph-list"></i>
			</button>
		</div>

	</header>
	<div class="app-body">

		<ng-content [selected]="[table1]" class="transfers"></ng-content>

		<div class="app-body-sidebar">
			<section class="payment-section">

				<ng-content [selected]="[table2]" class="payments"></ng-content>

				<div class="faq">
					<p>Most frequently asked questions</p>
					<div>
						<label>Question</label>
						<input placeholder="Type here" type="text">
					</div>
				</div>
				<div class="payment-section-footer">
					<button class="save-button">
						Save
					</button>
					<button class="settings-button">
						<i class="ph-gear"></i>
						<span>More settings</span>
					</button>
				</div>
			</section>
		</div>
	</div>
</div>
