.jumbo {
	background: url("/assets/img/lenguage/spanish.png") no-repeat center center
		fixed;
	background-size: cover;
	padding: 100px;
	* {
		margin-bottom: 10px;
	}
}

.phone_info {
	&__icon {
		color: #7fad39;
		height: 50px;
		width: 50px;
		background: #f5f5f5;
		line-height: 50px;
		text-align: center;
		border-radius: 50%;
		float: left;
		margin-right: 20px;
	}
}
