<div [formGroup]="formGroup">

	<div class="form-group" *ngFor="let input of inputs">
		<label class="control-label">{{input.name}}</label>
		<!-- <input [type]="input.type" class="form-control" [formControlName]="input.name" *ngIf="input.type!=='textarea'"
			autocomplete="on">
		<textarea name="input.name" class="form-control" id="input.name" cols="30" rows="10"
			[formControlName]="input.name" *ngIf="input.type=='textarea'"></textarea> -->
	</div>
	<button class="btn btn-default" type="button" (click)="onReset()">Reset</button>
	<button class="btn btn-primary pull-right" type="submit" (click)="onSubmit($event)">Submit</button>
</div>