<app-layout-auth>
	<ul>
		<li><a routerLink="/tienda" style="color: red;">tienda</a></li>
		<li><a routerLink="/dashboard" style="color: red;">admin</a></li>
	</ul>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="card shadow-lg border-0 rounded-lg mt-5">
					<div class="card-header">
						<h3 class="text-center font-weight-light my-4">Login</h3>
					</div>
					<div class="card-body">
						<form (ngSubmit)="onSubmit($event)" [formGroup]="form">
							<div class="form-group" *ngFor="let input of this.inputs">
								<ng-template #elseBlock>
									<label class="small mb-1" for="{{input.id}}">{{input.label}}</label>
									<input class="form-control py-4" [id]="input.id" [type]="input.type"
										formControlName="{{input.id}}" placeholder="{{input.placeholder}}"
										name="{{input.id}}" autocomplete="{{input.autocomplete}}"
										(change)="setErrors(form.get(input.id)?.errors)" />
								</ng-template>
								<ng-container *ngIf="input.type=='checkbox';else elseBlock">
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" [id]="input.id" [type]="input.type"
											formControlName="{{input.id}}" placeholder="{{input.placeholder}}"
											name="{{input.id}}" autocomplete="{{input.autocomplete}}"
											[checked]="user.remember" (change)="user.remember = !user.remember" />
										<label class="custom-control-label" [for]="input.id">Remember
											password</label>
									</div>
								</ng-container>
								<ng-container *ngIf="form.get(input.id)?.dirty ||form.get(input.id)?.touched">
									<ng-container *ngIf="form.get(input.id)?.errors as errores">
										<!-- <pre>{{errores|json}}</pre> -->
										<ng-container *ngFor="let item of errors">
											<ngb-alert [type]="'danger'" [animation]="true" [dismissible]="false">{{
												"Error in " +item }}
											</ngb-alert>
										</ng-container>
									</ng-container>
								</ng-container>
							</div>


							<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
								<a class="small" routerLink="/forgot-password">Forgot Password?</a>
								<button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
							</div>
						</form>
					</div>
					<div class="card-footer text-center">
						<div class="small"><a routerLink="/register">Need an account? Sign up!</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-form [inputs]="inputs"></app-form>
</app-layout-auth>