<app-layout-auth>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="card shadow-lg border-0 rounded-lg mt-5">
					<div class="card-header">
						<h3 class="text-center font-weight-light my-4">Login</h3>
					</div>
					<div class="card-body">
						<form (ngSubmit)="onSubmit($event)" [formGroup]="form">
							<div class="form-group">
								<label class="small mb-1" for="inputEmailAddress">Email</label>
								<input class="form-control py-4" id="inputEmailAddress" type="email"
									placeholder="Enter email address" name="inputEmailAddress" formControlName="email"
									autocomplete="username" />
								<div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="d-absolute">
									<div *ngIf="email?.errors?.['required']">
										<ngb-alert [type]="'danger'">{{ "Name is required." }}
										</ngb-alert>
									</div>
									<div *ngIf="email?.errors?.['minlength']">

										<ngb-alert [type]="'danger'">{{ "Name must be at least 4 characters long." }}
										</ngb-alert>
									</div>
									<!-- <div *ngIf="email.errors?.['forbiddenName']">
											Name cannot be Bob.
										</div> -->

								</div>
							</div>
							<div class="form-group">
								<label class="small mb-1" for="inputPassword">Password</label>
								<input class="form-control py-4" id="inputPassword" type="password"
									autocomplete="current-password" formControlName="password" />
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" id="rememberPasswordCheck" type="checkbox"
										name="rememberPasswordCheck" [checked]="user.remember"
										(change)="user.remember = !user.remember" formControlName="remember" />
									<label class="custom-control-label" for="rememberPasswordCheck">Remember
										password</label>
								</div>
							</div>
							<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
								<a class="small" routerLink="/forgot-password">Forgot Password?</a>
								<button type="submit" class="btn btn-primary">Login</button>
							</div>
						</form>
					</div>
					<div class="card-footer text-center">
						<div class="small"><a routerLink="/register">Need an account? Sign up!</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-layout-auth>
