<form>
	<div class="form-group form-inline">Full text search: <input class="form-control ml-2" type="text" name="searchTerm"
			[(ngModel)]="productService.searchTerm" /><span class="ml-3"
			*ngIf="productService.loading$ | async">Loading...</span></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" [sortable]="title" (sort)="onSort($event)" *ngFor="let title of titles">
					<span>{{title|titlecase}}</span>
					<app-sort-icon *ngIf='sortedColumn === title' [direction]="sortedDirection"></app-sort-icon>
				</th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr *ngFor="let item of data; index as i" class="col">
				<th scope="row">{{ i + 1 }}</th>
				<td *ngFor="let title of titles">{{item}}</td>
			</tr> -->
			<!-- <td *ngFor="let item of list">
					<ngb-highlight [result]="product.email" [term]="productService.searchTerm"></ngb-highlight>
				</td> -->
			<tr
				*ngFor="let product of products$|async|slice: (productService.page-1) * productService.pageSize  : productService.page * productService.pageSize ;">
				<td>
					<ngb-highlight [result]="product.id?.toString()" [term]="productService.searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="product.name" [term]="productService.searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight
						[result]=" (product.description.length>12)? (product.description | slice:0:12)+'..':(product.description)"
						[term]="productService.searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="product.price.toString()|currency:'EUR'"
						[term]="productService.searchTerm">
					</ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]=" product.created_at|date" [term]="productService.searchTerm">
					</ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="product.updated_at|date" [term]="productService.searchTerm">
					</ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="product.mainImage" [term]="productService.searchTerm">
					</ngb-highlight>
				</td>

			</tr>

		</tbody>
	</table>
	<div class="d-flex justify-content-between p-2">

		<ngb-pagination [(page)]="productService.page" [pageSize]="productService.pageSize" [collectionSize]="10">
		</ngb-pagination>
		<select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="productService.pageSize">
			<option [ngValue]="size" *ngFor="let size of sizes">{{size}} items per page</option>
		</select>
	</div>
</form>