<app-layout-auth>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="card shadow-lg border-0 rounded-lg mt-5">
					<div class="card-header">
						<h3 class="text-center font-weight-light my-4">Password Recovery</h3>
					</div>
					<div class="card-body">
						<div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset
							your password.</div>
						<form (ngSubmit)="onSubmit($event)" [formGroup]="form">
							<div class="form-group">
								<label class="small mb-1" for="inputEmailAddress">{{input.id|titlecase}}</label>
								<input class="form-control py-4" [id]="input.id" [type]="input.type"
									aria-describedby="emailHelp" placeholder="Enter email address"
									[formControlName]="input.id" />
								<div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="d-absolute">
									<div *ngIf="email?.errors?.['pattern']||email?.errors?.['email']">
										<ngb-alert [type]="'danger'">
											{{ "Correo electronico no tiene el formato correcto" }}
										</ngb-alert>
									</div>
									<!-- <div *ngIf="email.errors?.['forbiddenName']">
											Name cannot be Bob.
										</div> -->
								</div>
							</div>
							<div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
								<a class="small" routerLink="/login">Return to login</a>
								<button class="btn btn-primary" type="submit">Reset Password</button>
							</div>
						</form>
					</div>
					<div class="card-footer text-center">
						<div class="small"><a routerLink="/register">Need an account? Sign up!</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-layout-auth>
