<div class="row">
	<div class="col-3" ngbDropdown placement="bottom-right" display="dynamic">
		<p>
			<button type="button" class="nav-link dropdown-toggle" id="categoriesDropdown" ngbDropdownToggle
				data-cy="categoriesMenu" role="button" aria-haspopup="true" aria-expanded="false">
				All departaments
			</button>
		</p>
		<div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownCategories">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let category of categories_names">{{category}}</li>
			</ul>
		</div>
	</div>
	<div class="col-6">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<select class="input-group-text" id="inputGroupSelect01">
					<option selected>All Categories</option>
					<option value="category" *ngFor="let category of categories_names">{{category}}</option>
				</select>
			</div>
			<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />
			<button type="submit">Buscar</button>
		</div>
	</div>
	<div class="col-3 phone_info">
		<a href="tel:666666666" class="d-flex flex-row">
			<fa-icon [icon]="icon" class="phone_info__icon"></fa-icon>
			<div class="d-flex flex-column">
				<span>666666666</span>
				<span>support 24/7 time</span>
			</div>
		</a>
	</div>
</div>

<div class="d-flex justify-content-end">
	<div class="jumbo d-flex flex-column col-9">
		<h1>Fruta Fresca</h1>
		<h2>Vegetales 100% Organicos</h2>
		<h3>Envio gratuito*</h3>
		<a class="btn btn-primary btn-sm w-25 p-3" href="#" role="button">Compra ahora </a>
	</div>
</div>