<form>
	<div class="form-group form-inline">Full text search: <input class="form-control ml-2" type="text" name="searchTerm"
			[(ngModel)]="customerService.searchTerm" /><span class="ml-3"
			*ngIf="customerService.loading$ | async">Loading...</span>
		</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col" [sortable]="title" (sort)="onSort($event)" *ngFor="let title of titles">
					<span>{{title|titlecase}}</span>
					<app-sort-icon *ngIf='sortedColumn === title' [direction]="sortedDirection"></app-sort-icon>
				</th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr *ngFor="let item of data; index as i" class="col">
				<th scope="row">{{ i + 1 }}</th>
				<td *ngFor="let title of titles">{{item}}</td>
			</tr> -->
			<!-- <td *ngFor="let item of list">
					<ngb-highlight [result]="customer.email" [term]="countryService.searchTerm"></ngb-highlight>
				</td> -->
			<tr *ngFor="let customer of customers$|async; index as i">
				<th scope="row">{{ i + 1 }}</th>
				<td>
					<!-- <img class="mr-2" [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"					style="width: 20px" /> -->
					<ngb-highlight [result]="customer.name" [term]="customerService.searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="customer.email" [term]="customerService.searchTerm"></ngb-highlight>
				</td>
				<td>
					<ngb-highlight [result]="customer.role" [term]="customerService.searchTerm">
					</ngb-highlight>
				</td>
			</tr>

		</tbody>
	</table>
	<div class="d-flex justify-content-between p-2">
		<!-- 	<ngb-pagination
			[collectionSize]="total$ | async" -->
		<ngb-pagination [(page)]="customerService.page" [pageSize]="customerService.pageSize"></ngb-pagination>
		<select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="customerService.pageSize">
			<option [ngValue]="item" *ngFor="let item of [2,4,6]">{{item}} items per page</option>
		</select>
	</div>
</form>
